@import url(
'https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap'
);



*{

margin:0;

padding:0;

box-sizing:border-box;

}



body{


font-family:'Orbitron', sans-serif;


background:

linear-gradient(

120deg,

#050505,

#1a1a1a

);


color:white;


}



header{


background:#e10600;


padding:25px;


display:flex;

justify-content:space-between;

align-items:center;


}



nav a{


color:white;

text-decoration:none;

margin:15px;


}



nav a:hover{


color:black;


}




.hero{


height:400px;


display:flex;

flex-direction:column;

justify-content:center;

align-items:center;


text-align:center;


}




button,.btn{


background:#e10600;


color:white;


border:none;


padding:15px 30px;


border-radius:30px;


cursor:pointer;


transition:.3s;


margin-top:20px;


text-decoration:none;


}



button:hover,.btn:hover{


transform:scale(1.1);


background:white;


color:black;


}




.cards{


display:grid;


grid-template-columns:

repeat(auto-fit,minmax(250px,1fr));


gap:25px;


padding:40px;


}




.cards section,
.cards div{


background:#222;


padding:25px;


border-radius:20px;


transition:.3s;


}



.cards section:hover,
.cards div:hover{


transform:translateY(-10px);


box-shadow:

0 0 20px red;


}





table{


width:90%;


margin:40px auto;


border-collapse:collapse;


background:#222;


overflow:hidden;


border-radius:15px;


}



th{


background:#e10600;


padding:20px;


}



td{


padding:18px;


border-bottom:1px solid #555;


}



tr:hover{


background:#333;


}




footer{


padding:20px;


text-align:center;


background:black;


}




@media(max-width:700px){


header{


flex-direction:column;


}


nav{


margin-top:20px;


}



}